*{margin: 0;padding: 0;}
body{font-family: "微软雅黑";font-size: 14px;}
ul{margin: 0;padding: 0;}
ul li{list-style: none;}
a{text-decoration: none;}
#actived{padding:3px;background:#012D91;}
/*************************/
.head{width:1200px;margin: 15px auto 0 auto;overflow: hidden;}
.head_l{float: left;}
.head_r{float: left;margin-left: 230px;}
.head_r_t{overflow: hidden;margin-top: 10px;}
.head_r_t_l{float: left;}
.head_r_t_r{float: left;margin-left: 116px;margin-top: 10px;}
.head_r_t_r a img{border: none;}
.head_search{border:1px solid #50579d;position:relative;height:28px;border-radius: 15px;width:343px;background: #50579d;}
.head_search input{border-radius: 15px;width:100%;height: 26px;outline:none;border: none;position: absolute;left:0;}
.head_search em{position: absolute;left:20px;top:4px;z-index: 10;font-style: normal;background: url(../img/jt_down.jpg) no-repeat;background-position: right 8px;padding-right: 10px;}
.head_search em span{width:50px;cursor:pointer;}
.head_search a{position: absolute;right:20px;color:#fff;top:4px;}
.head_input{width: 70%;background: #fff;height: 28px;border-radius: 15px;}
.head_input input{border-radius: 15px;width: 58%;height: 28px;outline: none;border: none;position: absolute;left: 88px;}
.head_r_t_l{position: relative;}
.xgwz{margin-left: 3px;cursor:pointer;position:absolute;left:10px;top:29px;background: #fff;color:#000;padding: 3px;border: 1px solid #ccc;display: none;width:63px;text-align: center;}
.head_r_t_l ul{overflow: hidden;margin-top:6px;margin-left:15px;}
.head_r_t_l ul li{float: left;margin-left: 26px;}
.head_r_t_l ul li:nth-child(1){margin-left: 15px;}
.head_r_t_l ul li a{font-size: 13px;color:#50579d;letter-spacing:2px;font-weight: 600;}
.head_r_b{margin-top: 15px;}
.head_r_b ul{overflow: hidden;}
.head_r_b ul li{float: left;margin-left: 42px;}
.head_r_b ul li:nth-child(1){margin-left: 0;}
.head_r_b ul li a{color:#7d7d7d;font-size: 16px;padding-left: 16px;}
.active{color:#1a303d !important;font-size: 16px;background: url(../img/laboratory_cricl.png) no-repeat;padding-left:16px;background-position: 2px 6px;}
/*网站底部*/
.footer_bj{background: #50579d;height:260px;}
.footer{width:1200px;margin: 0 auto;overflow: hidden;padding-top: 23px;}
.footer_l{float: left;}
.footer_r{float: left;}
.footer_l_t dl {overflow: hidden;}
.footer_l_t dl dd{float: left;margin-left: 52px;}
.footer_l_t dl dd h4{color:#fff;font-size: 17px;font-weight: 100;margin-bottom: 23px;}
.footer_l_t dl dd p{margin-top: 5px;}
.footer_l_t dl dd p a{color:#fff;font-size: 12px;}
.footer_l_b{color:#fff;font-size: 14px;margin-top:35px;}
.footer_r{margin-left: 208px;}
.footer_r p:nth-child(1){font-size: 18px;color:#fff;margin-bottom: 16px;border: none;}
.footer_r p{color:#fff;border-bottom: 1px solid #dcddeb;margin-bottom: 5px;}
.footer_r p:nth-child(2){width:200px;}
.footer_r img{margin-top: 20px;}
/*banner*/
.ban{margin-top: 20px;}
.ban_swip{width: 100%;min-width: 1200px;}
.ban_list_w{width:1200px;margin: 0 auto;position: relative;}
.ban_list{width:214px;background: #fff;position: absolute;left:0;top:-30px;z-index: 11;}
.ban_list_t{height:30px;background: #50579d;}
.ban_list_t span{color:#fff;margin-right: 40px;}
.ban_list_t img{margin: 0 10px 0 10px;}
.ban_list_t_bj{margin-left: 15px;padding-top: 5px;}
.ban_list_a{margin-left: 16px;padding-top:9px;padding-right:10px;border-bottom: 1px solid #eee;}
.ban_list div:nth-child(2){margin-top: 10px;}
.ban_list_a p a{font-size: 12px;color:#7d7d7d;}
.ban_list_a p{margin-bottom: 10px;}
.ban_list_a h4{margin-bottom: 5px;}
.ban_list_a h4 a{font-size: 16px;color:#50579d;display: block;}
.ban_list_a h4 a img{float: right;margin-right: 15px;margin-top:6px;border: none;}
/*首页主体*/
.main{width:1200px;margin: 36px auto 0 auto;}
.main .main_ul{overflow: hidden;}
.main .main_ul li{float: left;width:214px;text-align: center;margin-left: 250px;}
.main .main_ul li:nth-child(1){margin-left: 0;}
.main .main_ul li:nth-child(2) a{margin-top: 25px;}
.main .main_ul li a{display: block;width:98px;height:26px;float: right;margin-top: 25px;}
.main .main_ul li img{margin-bottom: 15px;border:none;}
.main .main_ul li p{text-align: center;}
.main .main_ul li p span{display: block;margin-top: 5px;}
.main .main_ul li p span:nth-child(1){color:#7d7d7d;font-size: 20px;}
.main .main_ul li p span:nth-child(2){color:#949494;font-size: 15px;}
.main_tj{overflow: hidden;}
.main_tj_l{float: left;}
.main_tj_l_t ul{width: 922px;overflow: hidden;}
.main_tj_l_t li{width:186px;float:left;text-align: center;padding-right:25px;padding-left: 20px;border-bottom:1px solid #eee;border-right:1px solid #eee;padding-top: 30px;}
.main_tj_l_t li:nth-child(1){padding-left: 0;}
.main_tj_l_t li:nth-child(5){border-bottom: 1px solid #eee;padding-left: 0;}
.main_tj_l_t li:nth-child(6){border-bottom: 1px solid #eee;}
.main_tj_l_t li:nth-child(7){border-bottom: 1px solid #eee;}
.main_tj_l_t li:nth-child(8){border-bottom: 1px solid #eee;}
.main_tj_l_t li a{display: block;}
.main_tj_l_t li a img{border:none;}
.main_tj_l_t li a:nth-child(2){color:#50579d;margin-top: 38px;margin-bottom: 30px;}
.main_tj_l_t >p{position: relative;border-bottom: 1px solid #eee;}
.main_tj_l_t >p em{position: absolute;top:40px;width:40px;height:2px;background: #50579d;}
.main_tj_l_t p span{color:#4f569b;font-size: 24px;margin-top: 25px;margin-bottom:10px;display: block;}
.main_tj_l_t p img{float: right;display: block;margin-top: -13px;}
.main_tj_l_t ul li a span{display: block;color:#7d7d7d;margin-top: 25px;}
.main_tj_l{width:908px;}
.main_tj_l a img{border: none;}
.item_recommendation{overflow: hidden;border: 1px solid #eee;margin-top: 23px;}
.item_recommendation_a{float: left;width:302px;border-right:1px solid #eee;margin-top:5px;margin-bottom:5px;height:180px;text-align: center;padding-top: 15px;box-sizing: border-box;}
.item_recommendation div:nth-child(3){border-right:none;}
.item_recommendation_a span{color:#7d7d7d;font-size: 18px;}
.item_recommendation_a p{font-size: 13px;line-height:22px;text-align:left;color:#949494;width:243px;margin: 14px auto 14px auto;}
.main_tj_l{float: left;}
.main_tj_r{border: 1px solid #eee;margin-left: 4px;margin-top: 66px;}
.main_tj_r >div:nth-child(2){margin-top: 80px;}
.main_tj_r_a h4{font-size: 15px;background: #50579d;width:286px;height:32px;text-align: center;color:#fff;line-height: 32px;}
.main_tj_r{float: left;}
.main_tj_r_b p{margin-top: 27px;text-align: left;margin-left: 20px;color:#7d7d7d;}
.main_tj_r_b p a{color:#7d7d7d;}
.main_tj_r >div:nth-child(2) .main_tj_r_b p:last-child{padding-bottom: 34px;}
.bottom_advertisement{margin-top: 43px;}
.bottom_advertisement a img{border:none;}
.syjs{margin-top: 42px;margin-bottom:40px;overflow: hidden;}
.syjs_fl{width:280px;float: left;margin-left: 26px;}
.syjs .syjs_fl:nth-child(1){margin-left: 0;}
.syjs_fl_t{}
.syjs_fl_b{margin-top: 22px;padding-right:15px;width:263px;border-right: 1px solid #50579d;}
.syjs_fl_t p{font-size:15px;color:#50579d;padding-left:3px;border: 1px solid #50579d;border-left:5px solid #50579d;height:30px;line-height: 30px;}
.syjs_fl_t p span{font-size: 12px;}
.syjs_fl_t p a{width:65px;background:#50579d;display: inline-block;text-align:center;color:#fff;float: right;}
.syjs_fl_b p{color:#7d7d7d;border-bottom: 1px solid #eee;padding-bottom: 10px;padding-top: 10px;text-align: justify;}
.syjs_fl_b p a{color:#7d7d7d;}
.syjs_fl_b p:nth-child(1){padding-top: 0;}
.syjs_fl_b p:last-child{border:none;padding-bottom: 0;}
.syjs_fl_b p span{}
.syjs_fl_b p span a{color:#7d7d7d;}
.syjs_fl >a{width:118px;height:30px;margin: 43px auto 0 auto;display: block;}
.syjs_fl >a img{border: none;}
/*********************细胞生物学列表页************************/
.cytobiology{width:1200px;margin: 0 auto;}
.xbsw_list{background: #f3f3f3;height:173px;width:1200px;margin: 20px auto 0 auto;position: relative;}
.xbsw_list >img{width:150px;height:150px;float: left;margin: 10px 50px 0 10px;}
.xbsw_list >p{color: #fff;width: 1000px;margin: 0 auto;padding-top: 26px;}
.xbsw_list >p:nth-child(1){padding-top: 55px;}
.xbsw_list >p span{font-weight: bold;font-size: 18px;color:#000;}
.xbsw_list >p span img{margin: 2px 5px 0 0;float: left;}
.xbsw_list >p a{color:#50579d;margin-left: 10px;margin-bottom: 6px;display: inline-block;}
.new_bj{background: #50579d;border-bottom: 4px solid #cbe664;color:#fff !important;padding: 5px 10px 5px 10px;}
.yc_list{box-shadow: 2px 3px 5px #9b9b9b;}
.yc_list div:nth-child(1){margin-top: 0;}
.yc_list div:last-child h4{margin-bottom: 10px;}
.sy_list {margin: 30px auto 30px auto;}
.sy_list p{color:#7d7d7d;margin-left: 7px;}
.sy_list p a{color:#7d7d7d;margin-left: 5px;}
.down_cb{display:none;position: absolute;top: 30px;left: 214px;padding-bottom:96px;padding-top:24px;width:408px;height:405px;box-sizing: border-box;background: #fff;box-shadow: 2px 0 5px #9b9b9b;}
.down_cb h4{font-size: 16px;margin-left: 26px;padding-bottom:10px;border-bottom: 1px solid #eee;margin-right: 20px;}
.down_cb h4 a{color:#50579d;}
.down_cb ul{overflow: hidden;margin-left: 18px;}
.down_cb ul li{float: left;margin-top: 18px;width:105px;margin-left: 10px;overflow:hidden;white-space: nowrap;text-overflow:ellipsis; }
.down_cb ul li a{color:#7d7d7d;}
.down_cb >a{float: right;margin-right: 52px;color:#50579d;font-weight: bold;}
.experiment_list{overflow: hidden;}
.cytobiology_ban a img{border: none;}
.experiment_list_l{width:953px;float:left;}
.experiment_list_l>p span{color:#50579d;font-size: 20px;}
.experiment_list_content{border-top:1px solid #eee;margin-top:10px;border-left:1px solid #eee;border-right:5px solid #eee;border-bottom: 5px solid #eee;}
.experiment_list_content div:last-child{border-bottom: none;}
.experiment_list_content_a{overflow: hidden;padding-bottom:30px;border-bottom: 1px solid #eee;margin: 0 15px 0 15px;}
.experiment_list_content_a a >img{float: left;margin-top: 30px;margin-right: 20px;}
.experiment_list_content_a >p{width:580px;float: left;margin-top: 55px;}
.experiment_list_content_a >p span:nth-child(1){display: block;font-size: 18px;color:#7d7d7d;}
.experiment_list_content_a >p span:nth-child(2){display: block;font-size: 14px;color:#7d7d7d;}
.experiment_list_content_a >div{float: left;margin-top: 55px;margin-left: 20px;}
.experiment_list_content_a >div a{display: block;width:75px;height:20px;line-height:20px;color:#50579d;border:1px solid #50579d;text-align: center;}
.experiment_list_content_a >div a:nth-child(2){margin-top: 35px;}
.route_company {text-align: center;padding: 60px 0 40px 0;}
.route_company a {display: inline-block;width: 26px;text-align: center;height: 26px;line-height: 26px;border: 1px solid #cdcdcd;border-radius: 50%;color: #cdcdcd;font-size: 13px;margin-left: 10px;}
.experiment_list_r{float: left;width:240px;margin-left: 7px;}
.experiment_list_r>p span{color:#50579d;font-size: 20px;}
.experiment_list_r_a{margin-top: 22px;}
.experiment_list_r_a span{display: block;font-size: 18px;color:#7d7d7d;margin:12px 0 12px 0;font-weight: bold;text-align: center;}
.experiment_list_r_a a:nth-child(3){display: block;width:75px;height:21px;margin:0 auto;color:#50579d;border: 1px solid #50579d;text-align: center;line-height: 21px;}
.experiment_list_r_a >img{margin-top: 10px;}
.experiment_list_r div:nth-child(2){margin-top: 10px;}
.cytobiology_py_middle{width:490px;margin: 0 auto;}
.cytobiology_py{overflow: hidden;border-top:1px solid #eee;border-left:1px solid #eee;border-bottom: 5px solid #eee;}
.cytobiology_py div{float: left;margin-left: 12px;}
.cytobiology_py div:nth-child(1){margin-left: 22px;margin-top: 33px;}
.cytobiology_py div:nth-child(2){margin:96px 42px 0 25px;}
.cytobiology_py div:nth-child(2) span{color:#7d7d7d;font-size: 18px;font-weight: bold;}
.cytobiology_py div:nth-child(2) p:nth-child(2){color:#7d7d7d;}
.cytobiology_py div:nth-child(2) p:nth-child(3){margin-top: 46px;}
.cytobiology_py div:nth-child(2) p:nth-child(3) a{color:#7d7d7d;font-size:16px;padding:6px 15px 6px 15px;margin-left: 80px;width:99px;height:30px;text-align: center;line-height: 33px;border: 1px solid #50579d;}
.cytobiology_py div:nth-child(2) p:nth-child(3) a:nth-child(1){background:#50579d;color:#fff;}
.cytobiology_py div:nth-child(3) img{display: block;}
.cytobiology_fl{overflow: hidden;}
.cytobiology_fl_l{margin-top: 10px;width:197px;float: left;}
.cytobiology_fl_l div{border:1px solid #eee;box-sizing: border-box;}
.cytobiology_fl_l div p a{color:#7d7d7d;}
.cytobiology_fl_l >span{display:block;height:32px;line-height:32px;background: #50579d;color:#fff;text-align: center;}
.cytobiology_fl_l div:nth-child(2){margin-bottom: 2px;}
.cytobiology_fl_l div:nth-child(2) p:last-child{margin-bottom: 20px;}
.cytobiology_fl_l div:nth-child(4){margin-bottom: 2px;padding: 0 10px 0 10px;}
.cytobiology_fl_l div:nth-child(4) p{margin-top: 20px;}
.cytobiology_fl_l div:nth-child(4) p:last-child{margin-bottom: 20px;}
.cytobiology_fl_l div:nth-child(1) p{text-align: center;margin-top: 17px;}
.cytobiology_fl_l div:nth-child(2) p{text-align: center;margin-top: 17px;padding: 0 5px 0 5px;}
.cytobiology_fl_l div:nth-child(6){border-right: none;}
.cytobiology_fl_l div:nth-child(6){border: none;}
.cytobiology_fl_l div:nth-child(6) p{text-align: center;}
.cytobiology_fl_l div:nth-child(6) p span{display: block;margin: 13px 0 13px 0;}
.cytobiology_fl_l div:nth-child(6) p img{display: block;width:100%;}
.cytobiology_fl_l span:nth-child(5){margin-bottom: 4px;}
.cytobiology_fl_r{width:992px;float: left;margin-left:8px;margin-top: 13px;}
.m_link{margin-top: 21px;}
.m_link ul{overflow: hidden;border-bottom: 1px solid #eee;}
.m_link ul li{float: left;text-align: center;font-size:16px;width:128px;line-height: 27px;border-right:1px solid #eee;}
.m_link ul li a{color:#7d7d7d;display: block;}
#nav_keleyi_com{padding:10px;position:relative;top:-21px;background:#fff;width:1000px;z-index: 999;}
.hover{border-bottom: 3px solid #50579d !important;color:#50579d !important;}
.route_company_js{margin-top: 30px;}
.route_company_js p{overflow: hidden;margin-top: 32px;color:#7d7d7d !important}
.route_company_js p img{float: left;margin-left: 13px;}
.route_company_js p img:nth-child(3){margin-top: 15px;}
.route_company_js p span{color:#50579d;font-size: 20px;margin-top:5px;margin-left:6px;float: left;}
.route_company_js table{width:990px;margin-top: 12px;border: 1px solid #eee;}
.route_company_js table tr{border-bottom:1px solid #eee;}
.route_company_js table tr:nth-child(1){background: #50579d;color:#fff;height:36px;}
.route_company_js table tr:nth-child(1) th{border-bottom:none;}
.route_company_js table tr:nth-child(1) td{border-bottom:none !important;}
.route_company_js table tr:nth-child(2) td{border-top:none !important;}
.route_company_js table td{text-align: center;padding: 8px 0 7px 0;border-bottom:1px solid #eee;}
.route_company_js table td p{margin-top: 39px;}
.route_company_js table td p a{display: block;width:140px;margin: 0 auto;}
.route_company_js table td:nth-child(1){width:160px;}
.route_company_js p:nth-child(3){margin-top: 42px;}
.fw_lc {margin-left: 17px;}
.fw_lc div span{width:32px;height:33px;float:left;margin-left:80px;display:block;border-radius:16px;background: #50579d;text-align: center;line-height: 33px;color:#fff;}
.fw_lc div span:nth-child(2){margin-left:20px;}
.fw_lc div{position:relative;overflow: hidden;}
.fw_lc div p{height:1px;background:#50579d;width:884px;position:absolute;left:32px;top:-30px;z-index: -11;}
.fw_lc p{margin-top: 45px;}
.fw_lc p span{color:#7d7d7d;font-size: 13px;margin-left: 137px;}
.fw_lc p span:nth-child(1){margin-left: 85px;}
.fw_lc div{margin-top: 26px;}
.fw_lc p:nth-child(3){margin-top: 25px;}
.fw_lc p:nth-child(3) span{margin-left: 129px;}
.fw_lc p:nth-child(3) span:nth-child(1){margin-left: 0;}
.route_company_js p:last-child{margin-top: 40px;}
.sy_result ul{overflow: hidden;width:965px;margin-left: 115px;margin-top: 35px;}
.sy_result ul li{float: left;text-align: center;margin-right: 164px;margin-top: 10px;}
.sy_result ul li span{display: block;margin: 18px 0 18px 0;color:#7d7d7d;font-size: 13px;}
.route_company_ban {padding-top: 30px;clear: both;}
.company_redto{position: relative;margin-top: 10px;}
.company_redto_a{width: 1200px;margin: 0 auto;position: absolute;left: 50%;top: 0px;margin-left: -600px;}
.dhw_gk_a{overflow: hidden;}
.dhw_gk_a >div{float: left;}
.dhw_gk_a_l{float: left;width:672px;}
.dhw_gk_a_l >p{color:#7d7d7d;font-weight: bold;line-height: 24px;}
.dhw_gk_a_l >img{margin-bottom: 50px;}
.dhw_gk_a_l >img:nth-child(4){float: right;}
.dhw_gk_a_l >p:nth-child(3){margin-bottom: 65px;}
.dhw_gk{width:1200px;margin: 0 auto;}
.dhw_gk h4{font-size: 24px;color:#4f569b;margin-top:45px;margin-bottom:45px;text-align: center;font-weight: 300;}
.dhw_gk >p{color:#7d7d7d;font-size: 14px;margin-top: 30px;}
.dhw_gk >p span{margin-right: 5px;}
.dhw_gk >p a{color:#7d7d7d;}
.dhw_gk_a_l_ab{clear: both;}
.dhw_gk_a_l_ab >p{height:1px;background: #eee;width:435px;}
.dhw_gk_a_l_ab ul {width:720px;overflow: hidden;margin-top: 10px;}
.dhw_gk_a_l_ab ul li{width:232px;font-size: 20px;float: left;margin-left:143px;margin-top: 35px;}
.dhw_gk_a_l_ab ul li:nth-child(odd){margin-left:10px ;}
.dhw_gk_a_l_ab ul li:nth-child(1){background: url(../img/gs_js_spring.png) no-repeat;background-position: -23px 0px;height: 36px;line-height: 36px;padding-left: 50px;}
.dhw_gk_a_l_ab ul li:nth-child(2){background: url(../img/gs_js_spring.png) no-repeat;background-position: -23px -108px;height: 36px;line-height: 39px;padding-left: 50px;}
.dhw_gk_a_l_ab ul li:nth-child(3){background: url(../img/gs_js_spring.png) no-repeat;background-position: -23px -36px;height: 36px;line-height: 36px;padding-left: 50px;}
.dhw_gk_a_l_ab ul li:nth-child(4){background: url(../img/gs_js_spring.png) no-repeat;background-position: -23px -144px;height: 36px;line-height: 36px;padding-left: 50px;}
.dhw_gk_a_l_ab ul li:nth-child(5){background: url(../img/gs_js_spring.png) no-repeat;background-position: -23px -72px;height: 36px;line-height: 36px;padding-left: 50px;}
.dhw_gk_a_l_ab ul li:nth-child(6){background: url(../img/gs_js_spring.png) no-repeat;background-position: -23px -180px;height: 36px;line-height: 36px;padding-left: 50px;}
.dhw_gk_a_r{margin-top: 120px;margin-left: 60px;}
.dhw_wh{height:523px;margin-top:60px;background: url(../img/dhw_wh_ban.jpg) no-repeat;}
.qyzz{width:1200px;margin: 0 auto;}
.qyzz h4{text-align: center;font-size: 24px;margin-bottom:16px;color:#4f569b;margin-top:60px;font-weight: 100;}
.qyzz p{text-align: center;color:#7d7d7d;font-size: 18px;margin-bottom: 62px;}
.qyzz ul{overflow: hidden;}
.qyzz ul li{float: left;margin-left: 34px;}
.qyzz ul li:nth-child(1){margin-left: 0;}
.content_us{width:1200px;margin: 62px auto 50px auto;overflow: hidden;border:1px solid #c0c0c0;box-sizing: border-box;}
.content_us_a {margin-left: 8px;margin-top: 30px;}
.content_us_a >img{margin: 30px 0 43px 0;}
.content_us_a{float: left;}
.content_us >img{float: right;}
.content_us p{font-size: 18px;color:#731d02;margin-top: 18px;}
.bj_container{width:1200px;overflow:hidden;margin: 45px auto 86px auto;}
.bj_container_a{background: #f8f8f8;width:950px;float: left;}
.bj_container_a p{margin-top: 35px;padding-left: 109px;}
.bj_container_a p label{color:#7d7d7d;font-size: 20px;}
.bj_container_a p input{height:33px;width:344px;background: #f8f8f8;border: 1px solid #7d7d7d;}
.bj_container_a p textarea{width:592px;height:270px;resize: none;background: #f8f8f8;border: 1px solid #7d7d7d;}
.bj_container_a p:nth-child(1){padding-top: 40px;}
.bj_container_a form p:last-child label{float: left;}
.bj_container_a form p label{margin-right: 10px;width:100px;display: inline-block;}
.bj_container_a div{width:280px;margin: 28px auto 0 auto;overflow: hidden;padding-bottom: 130px;}
.bj_container_a div a{display: block;float:left;margin-left:80px;color:#fff;width:99px;height:30px;text-align: center;line-height: 30px;}
.bj_container_a div a:nth-child(1){background: #50579d;margin-left: 0;}
.bj_container_a div a:nth-child(2){color:#50579d;border: 1px solid #50579d;box-sizing: border-box;}
.bj_container_a_tit{background: #50579d;text-align: center;color:#fff;height:40px;line-height:40px;text-align: center;}
.bj_container_b{float:left;width:245px;margin-left: 4px;}
.bj_container_a_gd{border: 1px solid #eee;height:764px;background: #fff;}
.bj_container_a_gd ul{padding: 5px;}
.bj_container_a_gd ul li{margin-top: 30px;}
.dowebok {width: 245px;height: 795px;border: 1px solid #9e9e9e;font-size: 14px;box-sizing: border-box;}
.dowebok ul {margin: 0;line-height: 30px;padding: 5px;background: #fff;}
.dowebok ul li{margin-top: 30px;}
.content_tg_r {margin-left: 50px;}
.content_tg_r {float: left;margin: 0 auto;}
.content_tg_r h4 {color: #fff;width:245px;height: 50px;background: #50579d;line-height: 50px;text-align: center;}

/*文章列表*/
.wz_lb >p a{margin-left: 12px;}
/*服务流程*/
.kjfw_lc{margin-top: 16px;}
.kjfw_lc_jz{width:1200px;margin: 0 auto;}
.kjfw_lc{background:#f8f8f8;}
.dhw_fwlc_container{padding-bottom: 52px;}
.dhw_fwlc_container div{margin-top: 25px;}
.dhw_fwlc_container div:nth-child(1) p{color:#333;}
.dhw_fwlc_container div:nth-child(1) p:nth-child(1) span{background: #ffab3f;margin-right:5px;display:block;border-radius:9px;float:left;width:18px;height:18px;text-align: center;line-height: 18px;}
.dhw_fwlc_container div p:nth-child(2){margin-left: 22px;margin-top:5px;color:#7d7d7d;}
.fb_kj_nr{width:1200px;margin: 0 auto;}
.kjfw_lc_jz >h4{text-align: center;color:#4f569b;padding-top:33px;font-size: 22px;font-weight: normal;}
.kjfw_lc_jz >span{display: block;text-align: center;color:#7d7d7d;margin: 15px 0 52px 0;}
.fb_kj{background: #f8f8f8;}
.dhw_fwlc_container div:nth-child(2) p:nth-child(1) span{background: #ffab3f;margin-right:5px;display:block;border-radius:9px;float:left;width:18px;height:18px;text-align: center;line-height: 18px;}
.dhw_fwlc_container div:nth-child(3) p:nth-child(1) span{background: #ffab3f;margin-right:5px;display:block;border-radius:9px;float:left;width:18px;height:18px;text-align: center;line-height: 18px;}
.dhw_fwlc_container div:nth-child(4) p:nth-child(1) span{background: #ffab3f;margin-right:5px;display:block;border-radius:9px;float:left;width:18px;height:18px;text-align: center;line-height: 18px;}
.dhw_fwlc_container div:nth-child(5) p:nth-child(1) span{background: #ffab3f;margin-right:5px;display:block;border-radius:9px;float:left;width:18px;height:18px;text-align: center;line-height: 18px;}
.dhw_fwlc_container div:nth-child(6) p:nth-child(1) span{background: #ffab3f;margin-right:5px;display:block;border-radius:9px;float:left;width:18px;height:18px;text-align: center;line-height: 18px;}
.dhw_fwlc_container div:nth-child(7) p:nth-child(1) span{background: #ffab3f;margin-right:5px;display:block;border-radius:9px;float:left;width:18px;height:18px;text-align: center;line-height: 18px;}
.dhw_fwlc_container div:nth-child(8) p:nth-child(1) span{background: #ffab3f;margin-right:5px;display:block;border-radius:9px;float:left;width:18px;height:18px;text-align: center;line-height: 18px;}
.fw_item{overflow:hidden;width:1200px;margin:90px auto 76px auto;height:325px;background: url(../img/fw_xxjs.jpg);}
.fw_item div{float: left;margin-left: 53px;margin-top: 48px;}
.fw_item div span{color:#fff;display: block;text-align: center;margin: 25px 0 25px 0;}
.fw_item div a{display: block;width:127px;height:28px;line-height:28px;color:#fff;margin:0 auto;text-align:center;border:1px solid #fff;}
.aticle_xq{overflow: hidden;width:1200px;margin: 0 auto;}
.aticle_xq >div{color:#7d7d7d;}
.aticle_xq >div:nth-child(1){float: left;width:947px;box-sizing:border-box;border-top:1px solid #eee;border-left:1px solid #eee;border-right: 5px solid #eee;border-bottom: 5px solid #eee;}
.aticle_xq >div:nth-child(1) >p{color:#4f569b;font-size: 16px;text-align: center;margin: 23px 0 20px 0;}
.aticle_xq >div:nth-child(1) >a img{display: block;margin: 0 auto;}
.aticle_xq >div:nth-child(2){float: left;width:238px;margin-left: 7px;}
.aticle_xq_dl{padding: 33px 33px 70px 33px;}
.aticle_xq_dl div{margin-top: 20px;}
.aticle_xq_dl div:nth-child(1) p{margin-top: 5px;}
.aticle_xq_dl div:nth-child(2) p{margin-top: 5px;}
.aticle_xq_dl div:nth-child(3) p{margin-top: 5px;}
.aticle_xq_dl div:nth-child(4) p{margin-top: 5px;}
.aticle_r_a{}
.aticle_r_a p{color:#7d7d7d;margin-top: 17px;}
.aticle_r_a >span{font-size: 16px;color:#4f569b;}
.aticle_xq >div:nth-child(2) div:nth-child(1){border: 1px solid #eee;padding: 24px 12px 24px 12px;}
.aticle_r_a>span{margin: 20px 0 13px 14px;display: block;}
.aticle_r_ab{text-align: center;}
.aticle_r_ab img{display: block;}
.aticle_r_ab span{display: block;margin: 20px 0 21px 0;color:#7d7d7d;font-size: 18px;font-weight: bold;}
.aticle_r_ab a{display: block;border:1px solid #7d7d7d;color:#7d7d7d;width:75px;height:21px;line-height:21px;margin: 0 auto 37px auto;}
.cj_wt{background: #f8f8f8;}
.cj_wt_container{width:1200px;margin: 0 auto;}
.cj_wt_container div{margin-top: 30px;}
.cj_wt_container div:nth-child(1){padding-top: 34px;}
.cj_wt_container div:last-child{padding-bottom: 58px;}
.cj_wt_container div p{margin-top: 6px;color:#7d7d7d !important;}
.cj_wt_container div p span{color:#7d7d7d !important;}
.cj_wt_container div span{color:#50579d;font-size: 16px;}
.cjwt_fy a{width:27px;height:24px;margin-left:5px;border-radius: 0;color:#060000;background: #f7f7f7;border: none;}
.fy_active{background: #8e8e8e !important;color:#fff !important;}
.my_yw{width:1200px;margin: 70px auto 0 auto;overflow: hidden;}
.my_yw>span{float:left;margin-right: 5px;}
.my_yw>div{width:980px;height:195px;border:1px solid #eee;float: left;}
.my_yw>div textarea{width:100%;height: 150px;border: none;resize:none;outline:none;padding: 10px;box-sizing: border-box;}
.my_yw_btn{float: right;margin-top: 5px;}
.my_yw_btn a{display: block;text-align:center;float: left;margin-right: 12px;}
.my_yw_btn a:nth-child(1){width:132px;height:26px;color:#fff;line-height:26px;background: #50579d;}
.my_yw_btn a:nth-child(2){width:99px;height:24px;line-height:24px;border: 1px solid #50579d;}

.rmzx{overflow: hidden;width:1200px;margin: 44px auto 0 auto;}
.rmzx div{float: left;}
.rmzx >div:nth-child(1){width:590px;}
.rmzx >div:nth-child(2){width:578px;margin-left: 30px;}
.rmzx_r_t h4{color:#7d7d7d;font-size: 20px;}
.rmzx_r_t span{color:#7d7d7d;}
.rmzx_r_b_l {float: left;width:350px;}
.rmzx_r_b_r {float: left;width:165px;margin-left: 60px;}
.rmzx_r_b_l a{color:#7d7d7d;display: block;margin-top: 20px;}
.rmzx_r_b_r span{display: block;margin-top: 20px;}
.search_ym{position: relative;height: 20px;width: 1200px;margin: 20px auto 0 auto;}
.search_result span:nth-child(4){color:#ff0000;margin: 0 5px 0 5px;}
.search_result_l{width:953px;background: #eee;padding: 50px 0 50px 50px;box-sizing: border-box;}
.search_result_l a{display: block;color: #7d7d7d;margin-top: 30px;font-size: 16px;}
.search_result_l a:nth-child(1){margin: 0;}
/*分页*/
.fy {
	margin-top: 40px;
	text-align: center;
	padding-bottom: 33px;
}
.fy ul {
	display: inline-block;
	overflow: hidden;
}
.fy ul li {
	float: left;
}
.fy ul li a {
	background: #eee;
	width: 50px;
	height: 34px;
	text-align: center;
	line-height: 34px;
	display: block;
	margin-left: 5px;
	color: #444;
}
.fy ul li:first-child a {
	width: 72px;
	height: 34px;
	display: block;
	text-align: center;
	line-height: 34px;
}
.fy ul li:last-child a {
	width: 72px;
	height: 34px;
	display: block;
	text-align: center;
	line-height: 34px;
}
/*wwww*/
   #container {
		width: 100%;
		height: 405px;
		overflow: hidden;
   }
.sections,.section {
	height:100%;
   }
#container,.sections {
	position: relative;
   }

#section0 {
	background-image: url('../img/laboratory_ban.jpg');
}
#section1 {
	background-image: url('../img/zxbj_ban.jpg');
}
#section2 {
	background-image: url('../img/fwlc_ban.jpg');
}
#section3 {
	background-image: url('../img/news_ban.jpg');
}

#gsjs0 {
	background-image: url('../img/gs_js_ban.jpg');
}
#gsjs1 {
	background-image: url('../img/gs_js_ban.jpg');
}
#gsjs2 {
	background-image: url('../img/gs_js_ban.jpg');
}
#gsjs3 {
	background-image: url('../img/gs_js_ban.jpg');
}

/*#zxbj0 {
	background-image: url('../img/zxbj_ban.jpg');
}
#zxbj1 {
	background-image: url('../img/zxbj_ban.jpg');
}
#zxbj2 {
	background-image: url('../img/zxbj_ban.jpg');
}

#fwlc0 {
	background-image: url('../img/fwlc_ban.jpg');
}
#fwlc1 {
	background-image: url('../img/fwlc_ban.jpg');
}
#fwlc2 {
	background-image: url('../img/fwlc_ban.jpg');
}

#hyzx0 {
	background-image: url('../img/news_ban.jpg');
}
#hyzx1 {
	background-image: url('../img/news_ban.jpg');
}
#hyzx2 {
	background-image: url('../img/news_ban.jpg');
}*/
.pages li{background: orange;}
.pages li :hover{background: #fff;}

.btn_table{position: relative;}
.btn_table_a{position: absolute;right:10px;top:50%;margin-top: -52.5px;}
.btn_table_a a{display: block;margin-top: 5px;}